<nav class="navbar navbar-default navbar-fixed-top embark_effect1">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/promotions">Promotions</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/discount-zone">Discounts</a></li>
                <li><a href="/discount-zone">offers</a></li>
                <li><a href="/directory">Companies</a></li>
                <li><a href="/register/company">Register</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 100px">
    <img style="display: block; margin: auto; width: 40%; height: auto" class="img-responsive" src="/assets/images/Logo.png">
    <div class="jumbotron embark_effect1" style="padding-top: 10px;">
        <h4 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">What is Findit.lk?</h4>
        <hr />
        <p class="text-justify" style="font-size: 17px;">
            FindIt.lk provides the latest and upcoming details on offers, discounts, events, deals and
            promotions taking place across Sri Lanka. It is the best place where anyone can find the
            accurate details on offers, discounts, events, deals and promotions & the most effective
            digital platform to promote your businesses.</p>
        <p class="text-justify" style="font-size: 17px;">Save Money, Save Time.</p>
        <h4 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">For Whom </h4>
        <hr />
        <p class="text-justify" style="font-size: 17px;">If you love shopping, Findit.lk is one of the best user
            friendly website where you can find lot of offers, discounts, deals and promotions of
            many brands in the market to make your shopping more fun and profitable.
        </p>
        <p class="text-justify" style="font-size: 17px;">&nbsp;</p>
        <h4 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">Our Vision </h4>
        <hr />
        <p class="text-justify" style="font-size: 17px;">To be the best & most trustworthy platform
            that amplifies our clients’ image, boost their sales and nurture their growth.
        </p>
        <p class="text-justify" style="font-size: 17px;">&nbsp;</p>
        <h4 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">Our Mission </h4>
        <hr />
        <p class="text-justify" style="font-size: 17px;">We endeavor to provide the people to discover the accurate details
            on the best offers, discounts, latest promotions and upcoming events in one place effortlessly
            and rapidly while providing a meaningful & effective space for the companies
            to amplify their image.</p>
        <p class="text-justify" style="font-size: 17px;">&nbsp;</p>
        <h4 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">Terms &amp; Conditions</h4>
        <hr />
        <p class="text-justify" style="font-size: 17px;">We, at Findit.lk look forward to the opportunity to represent you as your
            preferred deals reference site. The below mentioned terms and conditions depict what you are
            lawfully permitted to expect from us when you look to obtain any services through our site,
            as a customer. Findit.lk maintains this website solely to assist customers with
            browsing and gathering deals,offers,events,discounts & registered companies  incorporated information.
            Findit.lk publishes and promotes deals,offers,events,discounts & registered company details that are a
            product of designated organisations. Respective companies themselves are exclusively
            responsible for any changes made pertaining to packages and relevant information such as prices,
            venues and dates etc. Findit.lk will not uphold any responsibility for any such changes. The site
            does not hold any connection whatsoever with the registered companies in the matter of payments.
            Any payments made to the registered company should be communicated with individually.</p>
        <p class="text-justify" style="font-size: 17px;">&nbsp;</p>
        <h4 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">The Agreement</h4>
        <hr />
        <p class="text-justify" style="font-size: 17px;">The designated companies, who showcase their adverts on Findit.lk,
            offer a huge variety in terms of these said deals,offers,events,discounts  etc. When it comes to
            dealing with terms and conditions, it is advisable you understand these entities before going forward.
            You will find our website online as www.findit.lk. Findit.lk portrays itself as intermediary or a
            "reference Site" for relevant product/services that are not entirely supplied by us. This could be in
            the form of deals,offers,events,discounts name a few. We do not engage in a position of a ‘Co-vendor’
            for such products and services. Therefore, you will find yourself agreeing to a separate contract with
            such Suppliers in connection with what you seek to purchase in any product/services.</p>
        <p class="text-justify" style="font-size: 17px;">&nbsp;</p>
        <h4 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">Personal Information</h4>
        <hr />
        <p class="text-justify" style="font-size: 17px;">Findit.lk respects the need to protect sensitive details pertaining
            to the Customer. Personal details of customers will be utilized to ensure proper processing
            administrative exercises are seen to efficiently. Findit.lk will only gather information if deemed
            necessary for the site and will only engage in collecting information if found timely to the site’s
            association with the Customer. Relevant information pertaining to the Customer will be kept in accordance
            with the law or in relevance to the purpose the information was gathered in the first place. If permitted,
            customer’s personal details will be utilized for marketing and statistical purposes.</p>
    </div>
</div>