<nav class="navbar navbar-default navbar-fixed-top embark_effect1">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="view_all/promotions/all">Promotions</a></li>
                <li><a href="view_all/events/all">Events</a></li>
                <li><a href="view_all/discount-zone/all">Discount zone</a></li>
                <li><a href="/directory">Companies</a></li>
                <li><a href="/register/company">Register Free</a></li>
                <li><a href="/about_us">About Us</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 100px">
    <img style="display: block; margin: auto; width: 40%; height: auto" class="img-responsive" src="/assets/images/Logo.png">
    <div class="jumbotron embark_effect1">
        <h3 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">What is findit.lk?</h3>
        <hr />
        <p class="text-justify" style="font-size: 17px;">
            We are a business that is passionate about connecting consumers and businesses.
            We aim to provide consumers latest details on promotions,discounts and events taking
            place across Sri Lanka.</p>

        <p class="text-justify" style="font-size: 17px;">
            In the Findit.lk database, you will find registered companies from major industries of which
            you can now hunt for the best deal available out there on your expected product or service
            and also compare prices amongst each other. This way, through Findit.lk, you are bound to
            find for yourself, for whichever requirement, the best deal that money can buy!<br>
            If you register with Findit.lk, you will receive exclusive offers and the best deals in town,
            courtesy of our partner companies that are registered with us.</p>


    </div>

    <div class="jumbotron embark_effect1">
        <h3 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">Terms &amp; Conditions</h3>
        <hr />
        <p class="text-justify" style="font-size: 17px;">We, at Findit.lk look forward to the opportunity to represent you as your preferred deals reference site. The
            below mentioned terms and conditions depict what you are lawfully permitted to expect from us when you
            look to obtain any services through our site, as a customer. Findit.lk maintains this website solely to assist
            customers with browsing and gathering deals,offers,events,discounts &amp; registered companies  incorporated
            information. Findit.lk publishes and promotes deals,offers,events,discounts &amp; registered company details
            that are a product of designated organisations. Respective companies themselves are exclusively
            responsible for any changes made pertaining to packages and relevant information such as prices, venues
            and dates etc. Findit.lk will not uphold any responsibility for any such changes. The site does not hold any
            connection whatsoever with the registered companies in the matter of payments. Any payments made to
            the registered company should be communicated with individually.</p>
    </div>
    <div class="jumbotron embark_effect1">
        <h3 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">The Agreement</h3>
        <hr />
        <p class="text-justify" style="font-size: 17px;">The designated companies, who showcase their adverts on Findit.lk, offer a huge variety in terms of these
            said deals,offers,events,discounts  etc. When it comes to dealing with terms and conditions, it is advisable
            you understand these entities before going forward. You will find our website online as www.findit.lk.
            Findit.lk portrays itself as intermediary or a &quot; reference Site&quot; for relevant product/services that are not
            entirely supplied by us. This could be in the form of deals,offers,events,discounts name a few. We do not
            engage in a position of a ‘Co-vendor’ for such products and services. Therefore, you will find yourself
            agreeing to a separate contract with such Suppliers in connection with what you seek to purchase in any
            product/services.</p>
    </div>
    <div class="jumbotron embark_effect1">
        <h3 class=" text-center" style="font-weight: bold; color: #4d4d4c; text-shadow: #4d4d4c; ">Personal Information</h3>
        <hr />
        <p class="text-justify" style="font-size: 17px;">Findit.lk respects the need to protect sensitive details pertaining to the Customer. Personal details of
            customers will be utilized to ensure proper processing administrative exercises are seen to efficiently.
            Findit.lk will only gather information if deemed necessary for the site and will only engage in collecting
            information if found timely to the site’s association with the Customer. Relevant information pertaining to
            the Customer will be kept in accordance with the law or in relevance to the purpose the information was
            gathered in the first place. If permitted, customer’s personal details will be utilized for marketing and
            statistical purposes.</p>
    </div>
</div>