<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<style>


    /*-------------------------------------comman styles begin---------------------------------------------*/
    .tab_shadow{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    /*-------------------------------------comman styles end-----------------------------------------------*/

    .banner_img{
        height: auto;
        width: 100%;
        display: block;
        margin: auto;
    }

    .discount-highlight {
        background-color: #000000;
        position: absolute;
        height: 50px;
        width: 100%;
        opacity: 0.75;
        font-family: Verdana, Geneva, sans-serif;
        color: #FFF;
        bottom: 0px;
        z-index: 1000;
    }

    .progress-custom {
        height: 7px;
        margin-bottom: 0px;
        overflow: hidden;
        background-color: #a09696;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        margin-left: 15px;
        margin-right: 15px;
    }

    .discount-amount {
        text-align: left;
        margin-left: 15px;
        margin-top: 8px;
        margin-bottom: 3px;
        font-size: 17px;
        line-height: 15px;
        font-family: OpenSans, "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
        font-weight: 900;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    .discount-usage {
        color: #13f103;;
        text-align: left;
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
        line-height: 15px;
        font-family: OpenSans, "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
    }

    .discount-usage span {
        float: right;
        margin-right: 15px;
        color: #a09696;
    }

    .progress-custom .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #13f103;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }

</style>

<div>
    <!--content area begin-->
    <section >
        <div class="container-fluid" style="margin-top: -20px;">
            <!--company banner begin-->
            <div class="row">
                <div ng-if="company.is_banner" class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
                    <img  src="{{company.company_banner}}" class="img-responsive  banner_img" />
                    <div class="main-com-title" >
                        <h1>{{company.name}}</h1>
                    </div>
                    <div class="main-com-button-container" >

                        <div class="container">


                            <button type="button" class="btn share-button-group"
                                    ng-click="toggle = !toggle"
                                    data-toggle="toggle" data-target="#sharePanel">
                                <i class="fa fa-share-alt"></i>
                                Share
                            </button>
                            <div id="sharePanel" class="" ng-class="{'in' : toggle}">
                                <a title="Share with friends" class="btn social-buttons"
                                   href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}"
                                   target="_blank">
                                    <i style="cursor: pointer;" class="fa fa-facebook-square social_share_custom"></i>
                                </a>
                                <a title="Share with friends" class="btn social-buttons"
                                   href="https://twitter.com/share?url={{currentUrl}}"  target="_blank">
                                    <i style="cursor: pointer;" class="fa fa-twitter-square social_share_custom"></i>
                                </a>
                                <a title="Share with friends" class="btn social-buttons"
                                   href="https://plus.google.com/share?url={{currentUrl}}"  target="_blank">
                                    <i style="cursor: pointer;" class="fa fa-google-plus-square social_share_custom"></i>
                                </a>
                                <a title="Share with friends" class="btn social-buttons"
                                   href="https://www.linkedin.com/shareArticle?mini=true&url={{currentUrl}}"  target="_blank">
                                    <i style="cursor: pointer;" class="fa fa-linkedin-square social_share_custom"></i>
                                </a>
                            </div>
                            <a ng-if="company.web" href="{{company.web}}" target="_blank">
                                <button type="button"
                                    class="btn main-com-button">VISIT SITE</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--company banner end-->


        <div class="container"
             ng-class="{'no-banner-profile-container' : !company.is_banner, 'banner-profile-container': company.is_banner}">
            <div class="row">

                <!--Left side bar begin-->
                <div class="col-md-3 col-xs-12 left-bar-container">


                    <!-- Company Logo begin -->
                    <div ng-if="company.is_logo" ng-class="{'margin-up-container' : company.is_banner}" class="block-card status">
                        <div class="update-card-body">
                            <img src="{{company.company_logo}}" class="directory-logo" />
                        </div>
                        <div class="left-text-area">
                            <h1 ng-if="!company.is_banner">{{company.name}}</h1>
                            <p ng-if="company.is_desc" class="para-left-bar" style="text-align: justify;">{{company.desc}}</p>


                            <p ng-if="company.is_tel" class="pull-left">
                                <i class="fa fa-phone social_icons_custom"></i> Phone : {{company.tel}}
                                <hr/>
                            </p>

                            <p ng-if="company.address" class="pull-left">
                                <i class="fa fa-home social_icons_custom"></i> Address : {{company.address}}
                                <hr/>
                            </p>
                            <p ng-if="company.web" class="pull-left">
                                <i class="fa fa-globe social_icons_custom"></i> Web : <a href="{{company.web}}" target="_blank">
                                    <u>{{company.web}}</u>
                                </a>
                                <hr/>
                            </p>

                            <h3>FIND US ON</h3>
                            <div class="find-us-on">
                                <ul ng-if="!company.is_social" class="social-icons post-socials ">
                                    <li style="margin-left: 5px">N / A</li>
                                </ul>
                                <ul ng-if="company.is_social" class="social-icons post-socials">
                                    <li ng-if="company.facebook"><a href="{{company.facebook}}" target="_blank"><i style="cursor: pointer; color: #44c2b3" class="fa fa-facebook-official "></i></a></li>
                                    <li ng-if="company.twitter"><a href="{{company.twitter}}" target="_blank"><i style="cursor: pointer; color: #44c2b3" class="fa fa-twitter  "></i></a></li>
                                    <li ng-if="company.youtube"><a href="{{company.youtube}}" target="_blank"><i style="cursor: pointer; color: #44c2b3" class="fa fa-youtube "></i></a></li>
                                    <li ng-if="company.linkedIn"><a href="{{company.linkedIn}}" target="_blank"><i style="cursor: pointer; color: #44c2b3" class="fa fa-linkedin "></i></a></li>
                                    <li ng-if="company.instagram"><a href="{{company.instagram}}" target="_blank"><i style="cursor: pointer; color: #44c2b3" class="fa fa-instagram "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Company Logo end -->
                </div>
                <!--left side bar end-->

                <!--Middle bar begin-->
                <div class="col-md-6 col-xs-12 comp-tab-panel">
                    <div class="row">

                        <div ng-if="!company.is_banner && company.facebook"
                             class="panel with-nav-tabs panel-default embark_effect1"
                             style="background-color: #3c3c3c">
                            <div class="fb-page text-center" width="1000px"
                                 style="display:block; margin: auto"
                                 data-href="{{company.facebook}}"
                                 data-tabs="" data-small-header="false"
                                 data-adapt-container-width="true" data-hide-cover="false"
                                 data-show-facepile="false">
                                <blockquote cite="{{company.facebook}}"
                                                                        class="fb-xfbml-parse-ignore">
                                    <a href="{{company.facebook}}">{{company.name}}</a>
                                </blockquote>
                            </div>
                        </div>

                        <div class="with-nav-tabs panel-default embark_effect1 promo-container" ng-show="fr_count > 0">
                            <div class="panel-body margin-top-0">
                                <h2 class="tab-h2">Promotions</h2>
                                <span ng-if="fr_count == 0"
                                    class="text-center"> Sorry no relevant classifieds added yet!</span>
                                <div class="row" >
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 promo-card"
                                         ng-repeat="ue_promo in filter_results">
                                        <div class="promo-box">
                                            <a href="/promotion/{{ue_promo.promo_obj.promotion_slug}}">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left-image-box">
                                                    <img
                                                         src="{{ue_promo.promo_image}}" class="img-responsive" />
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 middle-text-box">
                                                    <div class="promo_heading text-left">
                                                        <h5 >{{ue_promo.promo_name}}</h5>
                                                        <!--<h5 >{{ue_promo.promotion_description}}</h5>-->
                                                    </div>
                                                    <div class="promo_image text-center">
                                                        <div class="discount-highlight" ng-if="ue_promo.is_discount">
                                                            <p class="discount-amount">{{ue_promo.discount_text}}</p>
                                                            <p class="discount-usage">{{ue_promo.discount_remain}} available  <span>{{ue_promo.discount_claimed}} claimed</span></p>
                                                            <div class="progress-custom">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ue_promo.discount_remain_percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ue_promo.discount_remain_percentage}}%;">
                                                                    <span class="sr-only">{{ue_promo.discount_remain_percentage}}0% Complete</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row bottom-set">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offer-end-container"
                                                            ng-if="ue_promo.offer_end_date">
                                                            <p>Offer Valid Till : {{ue_promo.offer_end_date}}</p>
                                                        </div>
                                                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 promo_company_name ">-->
                                                            <!--<img src="{{ue_promo.promo_obj.cat_icon}}" class="pull-left cat-logo" />-->
                                                        <!--</div>-->
                                                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" >-->
                                                            <!--<img src="{{ue_promo.promo_company_logo}}" class="img-thumbnail company-icon" />-->
                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="viewAllPromotionsButton">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-all-middle-btn-container">
                                        <button type="button" ng-click="viewAll('promotions')"
                                                class="btn view-all">View All</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="with-nav-tabs with-nav-tabs-gallery"
                             ng-if="promo_images.length>0">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 gallery-card"
                                     ng-repeat="promo_image in promo_images">
                                    <a href="#" ng-click="setImage(promo_image.url)"
                                       data-toggle="modal" data-target="#imageModal">
                                        <img src="{{promo_image.url}}" class="img-responsive" />
                                    </a>
                                </div>
                            </div>
                            <div class="row" ng-show="viewAllGalleryButton">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-all-middle-btn-container">
                                    <button type="button" ng-click="viewAll('gallery')"
                                            class="btn view-all">View All</button>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

                <!--Right side bar begin-->
                <div class="col-md-3 col-xs-12" style="float: left;">
                    <div  ng-if="company.facebook" class="block-update-card status">
                        <div class="update-card-body-right" style="text-align: center;">
                            <div class="fb-page" data-href="{{company.facebook}}"
                                 data-tabs="timeline" data-small-header="false"
                                 data-adapt-container-width="true"
                                 data-hide-cover="{{!company.is_banner}}"
                                 data-show-facepile="true">
                                <blockquote cite="{{company.facebook}}" class="fb-xfbml-parse-ignore">
                                    <a href="{{company.facebook}}">{{company.name}}</a>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <!--company map card begin-->
                    <div ng-if="company.is_map" class="block-update-card status">
                        <div class="update-card-body-right">
                            <ng-map center="{{longitude}},{{latitude}}" zoom="13">
                                <marker draggable="false" position="{{longitude}},{{latitude}}"  visible="true" title="Company Location"></marker>
                            </ng-map>
                        </div>
                    </div>
                    <!--company map card end-->

                    <div ng-if="promo_videos.length>0" class="block-update-card status video-box">

                        <div class="col-md-12 img-thumb-box" ng-repeat="promo_video in promo_videos" >
                            <a href="#" ng-click="setVideoId(promo_video)" data-toggle="modal" data-target="#videoModal">
                                <img ng-src="https://img.youtube.com/vi/{{promo_video}}/default.jpg">
                            </a>
                        </div>

                    </div>


                </div>

                <!--Right side bar end-->


                <!-- Modal -->
                <div id="imageModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0px;">
                            <div class="modal-body">
                                <img
                                        ng-src="{{selectedImage}}" class="img-responsive gallery-image" />
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal End -->

                <!-- Modal -->
                <div id="videoModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0px;">
                            <div class="modal-body">
                                <iframe width="100%" height="315" ng-src="{{getYoutubeIFrame(selectedVideo) | trusted}}"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal End -->

            </div>
        </div>
    </section>
</div>

<script type="text/javascript">


  $("[data-toggle='toggle']").click(function() {
    console.log(1111111111111);
    var selector = $(this).data("target");
    $(selector).toggleClass('in');
  });
</script>